body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.chart-container {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    max-width: 80%;
    max-height: 80%;
}

/* Ajoutez des styles spécifiques pour chaque graphe */
/* #barplotLivresParDomaine-container {
    width: 600px;
}

#barplotLivresParAuteur-container {
    width: 600px;
}

#pieChartAuteursParNationalite-container {
    width: 600px;
} */

nav {
    background-color: #d2d2d2;
    height: 65px;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    box-shadow: 0px 8px 11px 9px rgba(66, 66, 66, 0.75);
}


/* Set background color for the Navbar */
.navbar {
    background-color: #f8f9fa; /* Light gray background color */
}

/* Style the Navbar brand link */
.navbar-brand {
    color: #007bff; /* Blue color */
    font-weight: bold; /* Bold font weight */
}

/* Style the Navbar links */
.navbar-nav .nav-link {
    color: #000; /* Black color for regular links */
}

/* Style the active Navbar link */
.navbar-nav .nav-item.active .nav-link {
    color: #007bff; /* Blue color for active link */
}

/* Style the Dropdown menu background color */
.dropdown-menu {
    background-color: #f8f9fa; /* Light gray background color for the dropdown */
}

/* Style the Dropdown items */
.dropdown-item {
    color: #000; /* Black color for dropdown items */
}

/* Style the form input and button in the Navbar */
.form-control,
.btn {
    margin: 5px; /* Add some margin for better spacing */
}
    